# Environment variables #
# Optional params, delete any which are not used!

# Watson Conversation
CONVERSATION_USERNAME=
CONVERSATION_PASSWORD=
WORKSPACE_ID=

# Text to Speech
TEXT_TO_SPEECH_USERNAME=
TEXT_TO_SPEECH_PASSWORD=

# Speech to Text
SPEECH_TO_TEXT_USERNAME=
SPEECH_TO_TEXT_PASSWORD=

# Cloudant
#CLOUDANT_URL=
#LOG_USER=
#LOG_PASS=

# Optional parameters to customize interface
#APP_NAME=My App
#DESCRIPTION=Description of My App
#TITLE=false
#DARK=true
#VOICE_INT=false