<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="copyright" content="Copyright © 2016 I.B.M. All rights reserved.

         Licensed under the Apache License, Version 2.0 (the “License”);
         you may not use this file except in compliance with the License.
         You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

         Unless required by applicable law or agreed to in writing, software
         distributed under the License is distributed on an “AS IS” BASIS,
         WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
         See the License for the specific language governing permissions and
         limitations under the License.">
    <meta name="description" content="Watson Conversation Service Sample Application">

    <!--Tab Title-->
    <title><%= APP_NAME %></title>

    <!-- build:css css/main.min.css -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/dropdowns-enhancement.min.css">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/input-output.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <!-- endbuild -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="vPWQz9kc-2sDXDdB6m_K5RLm_mwStA0c3cyo">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>

<div class="box">

    <header>

        <!--Page Title-->
        <div class="centered-content">
            <h1><%= APP_NAME %></h1>
            <%if(DESCRIPTION){%><h3><%=DESCRIPTION%></h3><%}%>
        </div>

        <!--User input-->
        <div id="input-wrapper" class="content-wrapper responsive-columns-wrapper">

            <% if(VOICE_INT) { %>
            <div id="input-mic-holder" class="input-element">

                <!--Micropphone Settings Button and Drop-down-->
                <div id="mic-settings-menu" class="dropdown">
                    <a id="mic-settings-button" role="button" data-toggle="dropdown" class="btn btn-default">
                        <span id="mic-settings-gear" class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a role="button">Auto-Mic: <strong>
                                    <span id="auto-mic-label" data-label-placement></span></strong></a>
                            <ul id="mic-settings" class="dropdown-menu">
                                <li><input type="radio" id="always" name="mic-setting" value="always">
                                    <label for="always">Always</label></li>
                                <li><input type="radio" id="prompt" name="mic-setting" value="prompt">
                                    <label for="prompt">If Prompted</label></li>
                                <li><input type="radio" id="never" name="mic-setting" value="never">
                                    <label for="never">Never</label></li>
                            </ul>
                        </li>
                        <!--TODO: add "okay, Watson" invocation-->
                        <!--<li><a>Some other action</a></li>-->
                    </ul>
                </div>

                <!--Microphone Button-->
                <a id="mic-button"><div id="mic-image" class="inactive-mic" onclick="STTModule.toggle()"></div></a>
            </div>
            <% } %>

            <!--Text Input Field-->
            <div id="user-input-wrapper" class="input-element">
                <label for="user-input" class="input-outline responsive-column">
                    <% var placeholder = VOICE_INT ? "<- Press and speak or type here." : "Type here" %>
                    <input id="user-input" type="text" placeholder="<%=placeholder%>" >
                </label>
            </div>

            <% if(VOICE_INT) { %>
            <!--Audio Control Button-->
            <div id="audio-control-wrapper" class="input-element">
                <a id="audio-button">
                    <div id="speaker-image" class="audio-off" onclick="TTSModule.toggle()" value="OFF"></div></a>
            </div>
            <% } %>

        </div>

    </header>

    <content>
        <!--Chat area-->
        <div id="chat-scroll-wrapper" class="content-wrapper">
            <div id="chat-flow"></div>
        </div>
    </content>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script>
  // Get mic_setting from browser localStorage
  var mic_setting = localStorage.getItem("mic_setting") || 'prompt';

  $(function() {
    $("#" + mic_setting).prop('checked', true); // set input element corresponding to the initial mic setting to checked
    $("#auto-mic-label").html($('label[for=' + mic_setting + ']').html()); // set default label based on initial mic setting
  });

  // update mic_setting variable on click
  $('#mic-settings').find('li').on('click', function() {
    mic_setting = $(this)[0].firstChild.id;
    localStorage.setItem("mic_setting", mic_setting);
  });
</script>

<!-- build:js vendor.min.js -->
<script src="js/libs/snap.svg.js"></script>
<script src="./../node_modules/whatwg-fetch/fetch.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/dropdowns-enhancement.js"></script>
<!-- endbuild -->
<!-- build:js conversation.min.js -->
<script src="js/common.js"></script>
<script src="js/api.js"></script>
<script src="js/conversation.js"></script>
<script src="js/global.js"></script>
<!-- endbuild -->
<% if(VOICE_INT) { %>
<script src="ibm/watson-speech.min.js"></script>
<script src="ibm/speech-to-text.js"></script>
<script src="ibm/text-to-speech.js"></script>
<% } %>

</body>

</html>
